<div class="container">
  <div class="text-center">
    <h1 class="m-5">Ask a question</h1>
    <h3 class="mb-5">The coach will answer you</h3>

    <form action="/answer" method="get">
          <input type="text" name="question" class="">
          <input type="submit" value="Ask!" class="btn btn-outline-primary">
    </form>
  </div>
</div>
